extends layout.pug

block content
  head
    title Page Not Found
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Server Error
    p Sorry! There was an unexpected error on the server.
  //-   p 
  //- if(errors)
  //-   h2.error Oops an error occurred!
  //-   p.error= errors
